{{define "scriptLinks"}}
  <script defer src="/public/js/user/medico/historial/addAnalitica.js"></script><!--INCLUIMOS EL COMPONENTE WEB-->
  <script defer src="/public/js/components/checkbox_tags.js"></script><!--INCLUIMOS EL COMPONENTE WEB PARA LISTA DE ROLES-->
{{end}}
{{define "styles"}}
  <link rel="stylesheet" type="text/css" href="/public/css/user/medico/historial/addAnalitica.css">
{{end}}
{{define "body"}}
<main>
  <div>
      <div id="alert" class="alert alert-success invisible" role="alert">
        This is a success alert—check it out!
      </div>
      <div>
      <div id="formConsulta">
        <h3>Datos de la analítica</h3>
        <br>
        <div id="datos">
          <div class="form-group" name="Leucocitos">
            <label>Leucocitos</label>
            <input type="number" value="0" min="0" max="20" step="0.1" id="numberLeucocitos"/>
          </div>
          <div class="form-group">
            <label>Hematies</label>
            <input type="number" value="0" min="0" max="20" step="0.1" id="numberHematies"/>
          </div>
          <div class="form-group">
            <label>Plaquetas</label>
            <input type="number" value="0" min="0" max="20" step="0.1" id="numberPlaquetas"/>
          </div>
          <div class="form-group">
            <label>Glucosa</label>
            <input type="number" value="0" min="0" max="20" step="0.1" id="numberGlucosa"/>
          </div>
          <div class="form-group">
            <label>Hierro</label>
            <input type="number" value="0" min="0" max="20" step="0.1" id="numberHierro"/>
          </div>
        </div>
        <div id="tags" class="form-group">
          <checkbox-tags> </checkbox-tags>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" id="submit">Añadir analítica al historial</button>
        </div>
      </div>
  </div>
</main>
{{end}} 