{{define "scriptLinks"}}
  <script defer src="/public/js/user/addUser.js"></script><!--INCLUIMOS EL COMPONENTE WEB-->
  <script defer src="/public/js/components/checkbox_roles.js"></script><!--INCLUIMOS EL COMPONENTE WEB PARA LISTA DE ROLES-->
{{end}}
{{define "styles"}}
  <link rel="stylesheet" type="text/css" href="/public/css/user/addUser.css">
{{end}}
{{define "body"}}
<main>
  <div>
    <div id="alert" class="alert alert-success invisible" role="alert">
      This is a success alert—check it out!
    </div>
    <h1 class="h2 mb-3 font-weight-normal">Datos del usuario</h1>
    <div class="form-group">
      <label>Nombre</label>
      <input id="name" class="form-control"  aria-describedby="emailHelp" placeholder="Introduce tu nombre" required="">
    </div>
    <div class="form-group">
      <label>Primer apellido</label>
      <input id="surname1" class="form-control"  aria-describedby="emailHelp" placeholder="Introduce tu primer apellido" required="">
    </div>
    <div class="form-group">
      <label>Segundo apellido</label>
      <input id="surname2" class="form-control"  aria-describedby="emailHelp" placeholder="Introduce tu segundo apellido">
    </div>
    <div class="form-group">
      <label>Dirección de correo</label>
      <input id="email" type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Introduce tu dirección correo" required="">
    </div>
    <div class="form-group">
      <label>DNI</label>
      <input id="idnumber" maxlength="9" class="form-control"  aria-describedby="emailHelp" placeholder="Introduce tu DNI" required="">
    </div>
    <div class="form-group">
      <label>Contraseña</label>
      <input id="pass" type="password" class="form-control" placeholder="Contraseña" required="">
    </div>
    <div class="form-group">
      <checkbox-roles> </checkbox-roles>
    </div>

    <div id="medicoEspecialidadGroup" class="form-group invisible">
      <label for="medicoEspecialidadSelector">Especialidad del médico</label>
      <select class="browser-default custom-select" id="medicoEspecialidadSelector">
        <option value="-1" disabled selected>Selecciona una especialidad</option>
      </select>
    </div>

    <div id="enfermeroClinicaGroup" class="form-group invisible">
      <label for="enfermeroClinicaSelector">Clínica donde se ejerce como enfermero</label>
      <select class="browser-default custom-select" id="enfermeroClinicaSelector">
        <option value="-1" disabled selected>Selecciona una clínica</option>
      </select>
    </div>

    <div id="medicoClinicaGroup" class="form-group invisible">
      <label for="medicoClinicaSelector">Clínica donde se ejerce como médico</label>
      <select class="browser-default custom-select" id="medicoClinicaSelector">
        <option value="-1" disabled selected>Selecciona una clínica</option>
      </select>
    </div>
    
    <div id="adminClinicaGroup" class="form-group invisible">
      <label for="adminClinicaSelector">Clínica a administrar</label>
      <select class="browser-default custom-select" id="adminClinicaSelector">
        <option value="-1" disabled selected>Selecciona una clínica</option>
      </select>
    </div>

    <button id="submit" type="submit" class="btn btn-primary">Añadir usuario</button>
  </div>
  <script>
    var clinicas = {{.Clinicas}};
    var especialidades = {{.Especialidades}};
  </script>
</main>
{{end}} 