main{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 98%;
}

.breadcrumbNav{
    background-color: whitesmoke;
}

.breadcrumb{
    background-color: whitesmoke;
}

footer{
    max-width: 99%;
}

.invisible{
    display: none;
}

.visible{
    visibility: visible;
}