{{define "menuPaciente"}}
    <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/user/appointments/select">Pedir cita</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/edit">Mis datos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/history">Historia clínica</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/appointments/list">Pruebas a citar</a>
                </li>
            </ul>
        </div>
    </nav>
{{end}}